
body {
    margin: 0;
    overflow: hidden;
    font-family: serif;
    background: #111;
}

#container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#scene-container {
    flex: 3;
}

#ui {
    flex: 1;
    background: #1e1e1e;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#bar-container {
    width: 100%;
    height: 20px;
    background: #333;
}

#bar {
    height: 100%;
    width: 100%;
    background: #6fa8dc;
}

#text-panel {
    margin-top: 20px;
    font-size: 18px;
}
